body {
    background-color: #faf0ca; /* Din önskade gul-sandfärg */
    margin: 0; /* Tar bort standardmarginalen runt `body` */
    font-family: 'Exo 2', sans-serif;
}

.contact-container {
    background-color: #faf0ca;
    /* Ersätt med din önskade bakgrundsfärg */
    padding: 5px;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 10px;
    /* Rundade hörn */
}

.contact-container h1 {
    text-align: center;
    color: #333;
}

#contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Utrymme mellan fälten */
}

#contactForm label {
    font-weight: bold;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contactForm button {
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(203, 223, 189);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contactForm button:hover {
    background-color: rgb(203, 223, 189);
}