#foodDayContainer {
    text-align: center;
    margin-top: 50px;
}

img {
    max-width: 100%;
    /* Sätter maximal bredd men behåller aspektratio */
    max-height: 200px;
    /* Sätter maximal höjd */
    object-fit: contain;
    /* Ser till att innehållet skalas korrekt inom givna dimensioner utan att beskära det */
}

h2 {
    font-family: 'Lora', serif; /* Detta kommer endast att applicera Lora på <h2>-taggar */
}
