/* Standard: Två kolumner på mobil */
.matratt {
    flex: 0 0 calc(50% - 10px); /* Två kolumner */
    max-width: calc(50% - 10px);
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
}

/* 3 kolumner på medelstora skärmar */
@media (min-width: 768px) {
    .matratt {
        flex: 0 0 calc(33.333% - 10px);
        max-width: calc(33.333% - 10px);
    }
}

/* 5 kolumner på stora skärmar */
@media (min-width: 1200px) {
    .matratt {
        flex: 0 0 calc(20% - 10px);
        max-width: calc(20% - 10px);
    }
}