.about-me {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0; /* Endast vertikal padding, följer main.css i bredd */
}

.about-me ul {
    list-style-type: disc;
    padding-left: 20px;
}

