body {
    background-color: #faf0ca;
    /* Din önskade gul-sandfärg */
    margin: 0;
    /* Tar bort standardmarginalen runt `body` */
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    ;
    font-style: normal;
    line-height: 1; /* Ökar radavståndet */
}
.image-links {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.image-links a {
    flex: 1;
    margin: 0 10px;
    display: block;
}

.image-links img {
    width: 100%;
    height: auto; /* Håller bildens proportioner */
    transition: transform 0.3s ease;
}

.image-links a:hover img {
    transform: scale(1.05); /* Liten zoom-effekt vid hovring */
}

.image-divider {
    width: 100%;                /* Gör så att bilden sträcker sig över hela bredden av dess container */
    height: auto;               /* Bevarar bildens ursprungliga proportioner */
    display: block;             /* Tar bort eventuella marginaler runt bilden */
    margin: 5px 0;             /* Lägger till lite utrymme ovanför och nedanför bilden */
}

.regular-image {
    width: 100%;                /* Gör så att bilden sträcker sig över hela bredden av dess container */
    height: auto;               /* Bevarar bildens ursprungliga proportioner */
    display: block;             /* Tar bort eventuella marginaler runt bilden */
    margin: 0px 0;             /* Lägger till utrymme ovanför och nedanför bilden */
}

.video-container {
    max-width: 800px; /* adjust this value as needed */
    margin: 0 auto; /* this will center your video if it's smaller than the container */
    overflow: hidden; /* in case your video is bigger than the container */
    position: relative;
    z-index: 1; /* Se till att videon har lägre z-index än headern */
    /* Resten av din styling */
}

video {
    width: 100%; /* make video responsive */
    height: auto; /* maintain aspect ratio */
    display: block; /* prevent default margin/padding */
}

.welcome-text {
    text-align: left;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
}

.welcome-text h1 {
    margin-bottom: 0.2em;
    font-size: 1.4em;
}

.welcome-text p {
    margin-bottom: 0.8em;
    font-size: 0.9em;
    line-height: 1.2;
}

.learn-more {
    font-size: 0.8em;
    color: rgb(203, 223, 189);
    text-decoration: underline;
}


.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px; /* Justera detta värde baserat på din design */
    background-color: #faf0ca; /* Gula bakgrundsfärgen */
    z-index: 1000; /* Håller headern över andra element */
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Lägg till en skugga för definition */
}

body {
    padding-top: 11px; /* Ge plats för headern så innehåll inte överlappar */
}
