.image-links {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.image-links a {
    flex: 1;
    margin: 0 10px;
    display: block;
}

.image-links img {
    width: 100%;
    height: auto; /* Håller bildens proportioner */
    transition: transform 0.3s ease;
}

.image-links a:hover img {
    transform: scale(1.05); /* Liten zoom-effekt vid hovring */
}

.image-divider {
    width: 100%;                /* Gör så att bilden sträcker sig över hela bredden av dess container */
    height: auto;               /* Bevarar bildens ursprungliga proportioner */
    display: block;             /* Tar bort eventuella marginaler runt bilden */
    margin: 5px 0;             /* Lägger till lite utrymme ovanför och nedanför bilden */
}

.regular-image {
    width: 100%;                /* Gör så att bilden sträcker sig över hela bredden av dess container */
    height: auto;               /* Bevarar bildens ursprungliga proportioner */
    display: block;             /* Tar bort eventuella marginaler runt bilden */
    margin: 0px 0;             /* Lägger till utrymme ovanför och nedanför bilden */
}
