.image-links {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.image-links a {
    flex: 1;
    margin: 0 10px;
    display: block;
}

.image-links img {
    width: 100%;
    height: auto; /* Håller bildens proportioner */
    transition: transform 0.3s ease;
}

.image-links a:hover img {
    transform: scale(1.05); /* Liten zoom-effekt vid hovring */
}

.image-divider {
    width: 100%;                /* Gör så att bilden sträcker sig över hela bredden av dess container */
    height: auto;               /* Bevarar bildens ursprungliga proportioner */
    display: block;             /* Tar bort eventuella marginaler runt bilden */
    margin: 5px 0;             /* Lägger till lite utrymme ovanför och nedanför bilden */
}

.regular-image {
    width: 100%;                /* Gör så att bilden sträcker sig över hela bredden av dess container */
    height: auto;               /* Bevarar bildens ursprungliga proportioner */
    display: block;             /* Tar bort eventuella marginaler runt bilden */
    margin: 0px 0;             /* Lägger till utrymme ovanför och nedanför bilden */
}

.video-container {
    max-width: 800px; /* adjust this value as needed */
    margin: 0 auto; /* this will center your video if it's smaller than the container */
    overflow: hidden; /* in case your video is bigger than the container */
}

video {
    width: 100%; /* make video responsive */
    height: auto; /* maintain aspect ratio */
    display: block; /* prevent default margin/padding */
}

.welcome-text {
    text-align: left;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.welcome-text h1 {
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

.welcome-text p {
    margin-bottom: 1em;
    font-size: 1em;
    line-height: 1.4;
}

.learn-more {
    font-size: 0.8em;
    color: rgb(203, 223, 189);
    text-decoration: underline;
}

/* Ny klass för upphovsrättsnotisen */
.copyrigt-notice {
    font-size: 0.8em;
    color: #666; /* En diskret färg */
    margin-top: 2em; /* Extra utrymme över upphovsrättsnotisen */
}
