/* Loader CSS */
.blocks {
    display: flex;
    align-items: center;
    position: fixed;
    /* Om du vill att loadern ska vara över allt annat innehåll */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    z-index: 9999;
    /* High z-index to make sure it's on top */
    background: transparent;
    /* Loader background */
}

.block {
    --sz: 8vmin;
    --tX: 0;
    --animation: 700ms cubic-bezier(0.3, 0.5, 0.4, 0.9) infinite alternate-reverse;
    --hm: 4.5vmin;
    height: var(--sz);
    width: var(--sz);
    border-radius: 50%;
    transform: translateX(var(--tX));
    mix-blend-mode: lighten;
}

.orange {
    --bg: linear-gradient(-50deg, #fbab7e 0%, #f7ce68 100%);
    margin-right: var(--hm);
    background-image: var(--bg);
    animation: attract-orange var(--animation);
}

.blue {
    --bg: linear-gradient(50deg, #00bfd5 0%, #c5f5ff 100%);
    margin-left: var(--hm);
    background-image: var(--bg);
    animation: attract-blue var(--animation);
}

@keyframes attract-orange {
    to {
        transform: translateX(calc(var(--sz) + calc(var(--hm) / 4)));
    }
}

@keyframes attract-blue {
    to {
        transform: translateX(calc(var(--sz) * -1 - calc(var(--hm) / 4)));
    }
}

/* CSS för att initialt dölja loadern */
#loader {
    display: none;
}

/* CSS för att mörkna och sudda ut bakgrunden */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9998;
    display: none;
}



body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    padding-bottom: 100px;
    /* Eller höjden på din footer */
}

* {
    box-sizing: border-box;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(106, 4, 15); */
    background-color: rgb(242, 242, 240);
    z-index: -1;
}


.blur-background .background-container {
    filter: blur(5px);
}

.logo-image {
    width: 200px;
    /* eller en procentandel, beroende på dina behov */
    height: auto;
    /* Bibehåller bildens proportioner */
}



.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    width: 40%;
    /* Anpassa bredden efter designen */
    margin: 0px auto;
    /* Centrerar kontainern med marginal upp- och nertill */
    padding-top: 0px;
    /* Lägg till lite utrymme ovanför sökfältet */
}



.slider-button-container {
    display: flex;
    justify-content: flex-start;
    /* Ändra från center till flex-start */
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    /* Säkerställer att containern tar upp hela bredden om det behövs */
}

.input-button-container {
    display: flex;
    width: 100%;
}

.input-button-container input[type='text'] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: white;
    color: black;
    outline: none;
    border-radius: 25px 0 0 25px;
    /* Avrundade hörn till vänster (både upp och ner) */
}

.input-button-container button {
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: white;
    color: black;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    /* Inga avrundade hörn */
    border-left: none;
    /* Ta bort vänster gräns för att smälta ihop med föregående element */
}

.input-button-container button:last-child {
    border-radius: 0 25px 25px 0;
    /* Avrundade hörn till höger (både upp och ner) */
}








.ingrediens-knapp {
    background-color: #f2f2f2;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em;
}

.ingrediens-lista {
    display: none;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
}

@keyframes ticker {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

.instagram-media iframe {
    width: 50%;

    min-height: 420px !important;
    display: block;

}








/* Lägg till den nya CSS-koden för footer-banner här */
.footer-banner {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    /* Ta bort justify-content: space-between om du inte vill att innehållet ska fördelas på varje sida */
}

.footer-banner a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-banner a:hover {
    text-decoration: underline;
}

.footer-links {
    display: flex;
    margin-left: auto;
    /* Lägger till detta för att skjuta elementet till högerkanten */

}

/* Stil för copyright-texten */
.footer-banner p {
    margin: 0;
    color: white;
    /* Om du tar bort justify-content från .footer-banner, kan du också behöva ta bort flex-grow */
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* Matcha bredden med sökfältet */
    padding: 5px;
    border-radius: 0 0 25px 25px;
    /* Behåll rundade hörn endast på botten om så önskas */
    margin-top: 0;
    /* Ta bort mellanrummet mellan fält och taggar */
    /* Ta bort border-egenskapen för att eliminera den vita konturen */
}

.tag {
    background-color: #000;
    /* Svart bakgrund */
    color: #fff;
    /* Vit text */
    padding: 5px 10px;
    /* Justera padding efter behov */
    margin-right: 5px;
    /* Avstånd mellan taggarna */
    border-radius: 3px;
    /* Runda hörnen på taggarna */
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    /* Muspekaren blir en pekande hand när du svävar över en tagg */
}

.tag-close {
    margin-left: 5px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 1rem;
    color: white;
    /* Detta kommer göra textbaserade eller unicode-baserade kryss vita */
}

.hidden-search {
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: visibility 0s 0.3s, opacity 0.3s ease;
}



.blur-background {
    filter: blur(5px);
}

.logo-link {
    position: fixed;
    top: 10px;
    /* Justera avståndet från toppen */
    left: 10px;
    /* Justera avståndet från vänsterkanten */
    z-index: 3000;
    /* Se till att loggan alltid är överst */
}

.logo-link img {
    height: 40px;
    /* Justera storleken på loggan */
    width: auto;
    /* Behåller bildens aspektförhållande */
}

.text-image {
    text-align: left;
    /* Alignar allt innehåll inuti till vänster */
    margin-top: 0px;
    /* Ger extra utrymme mellan logotypen och textbilden om det behövs */
}

.text-image img {
    display: block;
    /* Säkerställer att bilden tar upp sin egen rad och inte blandas med andra element */
    max-width: 100%;
    /* Säkerställer att bilden inte blir bredare än dess container */
    height: auto;
    /* Bibehåller bildens proportioner när bredden ändras */
    margin-top: 0px;
    /* Ger extra utrymme mellan logotypen och textbilden om det behövs */
}



/* Stilen för omkopplaren */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    /* Bredden på omkopplaren */
    height: 34px;
    /* Höjden på omkopplaren */
}

/* "Slider" */
.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff00;
    /* Bakgrundsfärg för slider när den är av */
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-tap-highlight-color: transparent;
    /* för Safari och Chrome på iOS */
    tap-highlight-color: transparent;
    /* standard CSS egenskap, men stöds inte av alla webbläsare än */
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    /* Höjden på den vita delen som glider */
    width: 26px;
    /* Bredden på den vita delen som glider */
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(255, 247, 179);
    /* Färg när omkopplaren är på */
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(255, 247, 179);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rundade kanter på omkopplaren */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch.large {
    position: relative;
    display: inline-block;
    width: 150px;
    /* Bredden på hela omkopplaren */
    height: 34px;
    /* Höjden på omkopplaren */
    margin: 0 10px;
    /* Mellanrum runt omkopplaren */
}

.switch.large .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    /* Bakgrundsfärg när slidern är av */
    transition: .4s;
    border-radius: 34px;
    /* Rundade hörn på slidern */
}

/* Stil för "knappen" på slidern */
.switch.large .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    /* Höjden på knappen */
    width: 26px;
    /* Bredden på knappen */
    left: 4px;
    /* Position från vänster */
    bottom: 4px;
    /* Centrera knappen vertikalt */
    background-color: white;
    /* Färg på knappen */
    transition: .4s;
    border-radius: 50%;
    /* Gör den cirkulär */
}

input:checked+.switch.large .slider {
    background-color: rgb(225, 213, 178);
    /* Färg när switch är på */
}

input:checked+.switch.large .slider:before {
    -webkit-transform: translateX(calc(150px - 26px - 4px));
    /* Beräkna rätt flytt för knappen */
    -ms-transform: translateX(calc(150px - 26px - 4px));
    /* Beräkna rätt flytt för knappen */
    transform: translateX(calc(150px - 26px - 4px));
    /* Beräkna rätt flytt för knappen */
}


/* Stiljusteringar för textetiketterna för slidern */
.search-mode-label {
    display: block;
    font-family: 'League Spartan', cursive;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin: 0 5px;
    /* Utrymme runt etiketterna */
    /* Ytterligare stilinställningar efter behov */
}

/* Säkerställ att texten är centrerad vertikalt */
.search-mode-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}


input:checked+.slider.large {
    background-color: #0075fe;
    /* Grön färg när slidern är till höger */
}

input:not(:checked)+.slider.large {
    background-color: #0075fe;
    /* Röd färg när slidern är till vänster */
}

.veg-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Flyttar innehållet till vänster */
    margin-left: 10px;
    /* Justera marginalen om det behövs */
    width: 100%;
    /* Säkerställer att containern tar upp hela tillgängliga bredden */
}

.veg-label {
    width: 15%;
    /* Tar upp hela bredden av sin container */
    text-align: left;
    /* Texten börjar från vänster */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    /* Mellanrum mellan etiketten och slidern */
    border-radius: 5px;
    display: block;
    /* eller 'inline' beroende på dina behov */
    align-self: flex-start;
}

.lang-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.lang-label {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
}

#pagination-controls button {
    background-color: white;
    /* Vit bakgrund */
    color: black;
    /* Svart text */
    border: 1px solid #ddd;
    /* Lätt grå kantlinje */
    padding: 10px 15px;
    /* Padding för att göra knappen större */
    margin: 5px;
    /* Avstånd mellan knapparna */
    border-radius: 5px;
    /* Lätt rundade hörn */
    cursor: pointer;
    /* Ändra muspekaren till en hand när den svävar över knappen */
    font-size: 1em;
    /* Storlek på texten */
    transition: background-color 0.3s;
    /* Smidig övergång för bakgrundsfärg */
    font-family: 'League Spartan', cursive;
    /* Din huvudfont */
}

#pagination-controls button:hover {
    background-color: rgb(255, 247, 179);
    /* Ljusgul bakgrund när muspekaren svävar över */
}

/* Uppdateringar för #pagination-controls */
#pagination-controls {
    position: fixed;
    /* Istället för absolute */
    bottom: 15px;
    /* Höjden på din footer */
    left: 0;
    right: 0;
    z-index: 2000;
    text-align: center;
    margin-bottom: 8px;
    /* Detta kan behöva justeras beroende på exakt placering */
    padding: 8px 0;
}

#pagination-controls.hidden {
    display: none;
    /* Dölj pagineringskontrollerna */
}

/* Media query för desktop */
@media (min-width: 481px) {

    .instagram-media iframe {
        width: 100%;

        min-height: 420px !important;
        display: block;
    }

  

}

@media (max-width: 480px) {

    .logo-link img {
        height: 40px;
        /* Justera storleken på logotypen om det behövs */
    }

    .matratt-title {
        font-size: 10px;
        /* Justera detta värde efter dina behov */
    }

    .search-container {
        width: 100%;
        /* Använd hela bredden för att maximera utrymmet */
        margin: 20px auto;
        /* Centrerar kontainern med marginal upp- och nertill */
        padding-top: 0px;
        /* Justera utrymmet ovanför sökfältet efter behov */
    }




    .input-button-container input[type='text'],
    .input-button-container button {
        padding: 5px;
        /* Justera padding för att passa bättre på mindre skärmar */
        font-size: 10px;
        /* Justera textstorleken om det behövs */
    }

    .input-button-container button {
        padding-right: 10px;
        /* Minska padding till höger */
        padding-left: 10px;
        /* Minska padding till vänster */
    }


    .search-container * {
        pointer-events: auto;
    }

    body,
    html {
        overflow-x: hidden;
        /* Fortsätt förhindra horisontell scrollning */
    }

    /* Behåll andra befintliga stilar som du inte vill ändra */


}





.current-page {
    background-color: rgb(255, 247, 179) !important;
    color: black !important;
}



/* Stil för placeholder-texten */
#searchInput::placeholder {
    font-family: 'League Spartan', cursive;
    /* Eller det typsnitt du använder på resten av din sida */
    font-size: 19px;
    /* Eller den storlek du vill ha */
    color: #a6a6a6;
    /* Färgen på din placeholder-text, ändra efter önskemål */
}

#searchInput {
    font-size: 24px;
    /* Justera detta värde för att öka teckenstorleken på den text användaren skriver */
    font-family: 'League Spartan', cursive;
    /* Detta kommer att göra att texten användare skriver matchar stil med placeholder om du vill */
    color: #ffffff;
    /* Ändra om du vill ha en annan textfärg */
}


.add-button {
    background: none;
    border: none;
    cursor: pointer;
}

.add-button img {
    width: 25px;
    /* or any size that fits your design */
    height: auto;
}

.logo-main-container {
    text-align: center;
    margin-top: 12px;
}

.main-logo {
    max-width: 40%;
    height: auto;
    margin: 0 auto;
}

.image-links-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    /* Justera detta värde efter behov */
    padding-top: 100px;
    /* Lägg till önskat tomt utrymme */
}

.image-link {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-link img {
    width: 60%;
    height: auto;
    object-fit: cover;
    /* Se till att bilden täcker elementet */
}

@media (min-width: 769px) {
    .image-links-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* Centrerar barn vertikalt */
        padding-top: 0;
    }

    .image-link {
        width: 40%;
        /* Minskar bredden för att göra bilderna mindre */
        display: flex;
        justify-content: center;
        align-items: center;
        /* Centrerar innehållet vertikalt */
        padding: 0 10px;
        /* Behåller lite utrymme mellan bilderna */
    }

    .image-link img {
        max-width: 100%;
        /* Säkerställer att bilden inte överskrider länkens bredd */
        height: auto;
        /* Behåller bildens proportioner */
    }
}

/* Lägg till ytterligare media queries och stilar efter behov */

.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.gallery-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.gallery-row img {
    margin: 5px;
    width: auto;
    height: 150px;
    /* Justera efter behov för att passa din design */
}

.top-space {
    height: 0px;
    /* Eller hur mycket utrymme du vill ha */
}

.input-button-container input[type='text'] {
    padding: 20px;
    /* Öka padding för att göra fältet tjockare */
}

.input-button-container input[type='text'] {
    font-family: 'League Spartan', cursive;
    /* Ange ditt typsnitt här */
    background-color: #000000;
    /* svart bakgrund */
    color: #ffffff;
    /* vit text */
}


/* Stil för etiketten bredvid slidern */
.veg-label {
    display: inline-block;
    /* Gör så att bakgrunden endast omsluter texten */
    background-color: #d4edda;
    /* Den gröna färgen du har valt */
    color: #000000;
    /* Svart text */
    padding: 5px 10px;
    /* Justera detta efter önskad storlek på padding */
    margin-bottom: 5px;
    /* Avstånd mellan etiketten och slidern */
    border-radius: 5px;
    /* Rundade hörn */
}



/* Stil för slider-kontrollen när den är avstängd */
.veg-container .switch .slider {
    background-color: #000000;
    /* Grå färg när slidern är avstängd */
}

/* Stil för den runda knappen inuti slidern */
.veg-container .switch .slider:before {
    background-color: white;
    /* Vit knapp */
}

/* Stil för den runda knappen inuti slidern */
.veg-container .switch .slider::after {
    background-color: rgb(255, 238, 0);
    /* Vit knapp */
}

/* Stil för slider-kontrollen när den är påslagen */
.veg-container .switch input:checked+.slider {
    background-color: rgb(203, 223, 189);
    /* Grön färg när slidern är påslagen */
}


.title-background {
    background-color: #000;
    /* Svart bakgrund */
    color: white;
    /* Vit text */
    padding: 4px 6px;
    /* Lite padding */
    height: 80px;
    /* Fast höjd för att rymma upp till 3 rader */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centrerar texten vertikalt */
    overflow: hidden;
}

.title-background h2 {
    margin: 0;
    /* Ta bort alla marginaler */
    line-height: 1.2;
    /* Anpassa radavståndet för att passa ditt typsnitt och storlek */
    max-height: 3.6em;
    /* Maximal höjd för tre rader (baserat på line-height) */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* Begränsar till 3 rader */
    text-overflow: ellipsis;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    /* Justera detta värde baserat på din design */
    background-color: rgb(242, 242, 240)
        /*  #faf0ca; Gula bakgrundsfärgen */
        z-index: 1000;
    /* Håller headern över andra element */
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Lägg till en skugga för definition */
}

body {
    padding-top: 11px;
    /* Ge plats för headern så innehåll inte överlappar */
}

#no-results-message {
    display: flex;
    flex-direction: column; /* Så att bild och text är i kolumn-layout */
    justify-content: center; /* Vertikal centrering */
    align-items: center; /* Horisontell centrering */
    height: 100vh; /* Gör så att det täcker hela fönstret i höjdled */
    text-align: center;
}
