@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

body {
    padding-top: 95px;
    /* Justera detta värde efter logotypens höjd plus önskat utrymme */
}


/* Grundläggande stilar för bildknappar */
.image-button {
    margin: 5px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s;
}

/* Effekt när man hovrar över bildknappen */
.image-button:hover {
    transform: scale(1.05);
}

/* Bildinställningar inom bildknappen */
.image-button img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Stilar för behållaren av bildknappar */
.filter-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.5px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}


/* Visa fler-knappens stil */
.show-more-btn {
    grid-column: 1 / -1;
    /* Gör att "Visa fler"-knappen tar upp hela radens bredd */
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(255, 247, 179);
    color: black;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

/* Hover-effekt för "Visa fler"-knappen */
.show-more-btn:hover {
    background-color: #0056b3;
}

/* Anpassning för mobilvy */
@media (max-width: 600px) {
    .filter-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Stil för valda bildknappar */
.image-button.selected img {
    box-shadow: 0px 0px 10px #007bff;
}

/* Effekt när man hovrar över bildknappar */
.image-button:hover img {
    transform: scale(1.05);
}



.category-title {
    font-size: 24px;
    color: #333;
    /* Ändra färgen efter önskemål */
    margin-top: 30px;
    /* Ger utrymme ovanför rubriken */
    margin-bottom: 10px;
    /* Ger utrymme under rubriken */
    text-align: center;
}

.category-divider {
    border: 0;
    height: 1px;
    /* Ändra tjockleken efter önskemål */
    background-image: linear-gradient(to right, #aaa, #333, #aaa);
    /* En gradient effekt */
    margin-top: 20px;
    /* Ger utrymme ovanför avdelaren */
    margin-bottom: 20px;
    /* Ger utrymme under avdelaren */
}

#searchBtn {
    font-family: 'Exo 2', sans-serif;
    /* Använder Exo 2 typsnitt */
    font-size: 1.5em;
    /* Större text */
    width: 80%;
    /* Bredd på knappen */
    max-width: 400px;
    /* Maxbredd för att undvika för bred knapp */
    padding: 15px 30px;
    /* Storlek på padding för att göra knappen högre */
    margin: 0 auto 30px;
    /* Centrerar knappen och ger utrymme längst ner */
    display: block;
    /* Gör så att margin: auto fungerar för horisontell centrering */
    background-color: #0056b3;
    /* En snygg blå färg */
    color: white;
    /* Vit text */
    border: none;
    /* Ingen ram */
    border-radius: 50px;
    /* Rundade hörn */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    /* Skugga för att lyfta knappen från bakgrunden */
    cursor: pointer;
    /* Hand-ikon när du hovrar över knappen */
    transition: all 0.3s ease;
    /* Animation vid interaktion */
}

#searchBtn:hover {
    background-color: #003d82;
    /* Mörkare blå när du hovrar över */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    /* Större skugga när du hovrar över */
}

#searchBtn:active {
    background-color: #003366;
    /* Ännu mörkare blå vid klick */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Mindre skugga vid klick */
}

/* Container för att hålla sökknappen längst ner */
.footer-banner {
    text-align: center;
    /* Centrerar innehållet */
    margin-top: 30px;
    /* Ger utrymme ovanför knappen */
    margin-bottom: 30px;
    /* Ger utrymme under knappen */
    /* Ta bort position: absolute och bottom: 0; */
}

.category-header {
    text-align: center;
    /* Centrerar bilden om det behövs */
    margin: 8px 0;
    /* Lägger till lite utrymme ovanför och under bilden */
}

.category-image {
    max-width: 50%;
    /* Gör så att bilden inte blir större än sin behållare */
    height: auto;
    /* Bevarar bildens proportioner */
}