/* articles.css 
body {
    font-family: 'Din Favorit Typsnitt', sans-serif;
    line-height: 1.6;
    color: #333;
}

.category-main {
    width: 80%;
    margin: 0 auto;
}

.articles-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.article-preview {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.article-preview h2 {
    margin-top: 0;
} */
/* Lägg till fler stilar efter behov */
.video-container {
    width: 100%; /* eller den bredd du önskar */
    height: auto; /* kan anpassas beroende på videons aspektförhållande */
    position: relative; /* om du vill positionera något över videon */
}

video#myVideo {
    width: 100%;
    height: auto;
}
