body, h2 {
    background-color: #dfdfdf;
    /* Din önskade gul-sandfärg */
    margin: 0;
    /* Tar bort standardmarginalen runt `body` */
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    ;
    font-style: normal;
    
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1; /* Lite tätare för rubriker */
}

p {
    line-height: 1.3; /* Luftigare för brödtext */
}


/* köksredskap.css */
.content-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.article-preview {
    display: flex;
    /* Aktiverar flexbox layout */
    flex-direction: column;
    /* Elementen staplas vertikalt */
    justify-content: space-between;
    /* Maximerar utrymmet mellan items */
    background-color: #cfff00;
    /* Samma färg som din tema-färg */
    border: 1px solid #9dff69;
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    /* Se till att alla förhandsvisningskort har samma höjd */
}

.article-preview img {
    width: 100%;
    height: auto;
    /* Anpassar sig efter bildens ursprungliga proportioner */
    object-fit: cover;
}

.article-preview h2,
.article-preview p {
    padding: 0.5em;
    /* Lite utrymme runt texten */
}

.article-preview a {
    display: block;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-top: auto;
    /* Skjuter ner länken till botten av flex-container */
}

.article-preview a:hover {
    background-color: #555;
}

img {
    max-width: 100%;
    /* Sätter maximal bredd men behåller aspektratio */
    max-height: 200px;
    /* Sätter maximal höjd */
    object-fit: contain;
    /* Ser till att innehållet skalas korrekt inom givna dimensioner utan att beskära det */
}

.headline-background {
    background-image: url('images/penseldraggron2.png');
    /* Anpassa sökvägen till din bild */
    background-repeat: no-repeat;
    background-position: center;
    /* Centrera bilden bakom texten */
    background-size: contain;
    /* Gör så att hela bilden ryms i elementet */
    display: inline-block;
    /* Behåll detta för att matcha bredden på innehållet */
    padding: 40px;
    /* Lägg till mer padding runt texten för att göra bakgrunden större */
    width: auto;
    /* Om du vill att det ska anpassas efter innehållet */
    text-align: center;
}

